<!doctype html>
<html lang="en">
<head>
    <title>PhotoGrid - Admin</title>
    <meta charset="utf-8">
    <style type="text/css">
        .error {color: red}
        .msg {color: green}
    </style>
</head>
<body>
    Hello {{.username}}!
</body>
</html>
